@tailwind base;
@tailwind components;
@tailwind utilities;

/* In your global styles (like index.css or App.css) */
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #6B7280; /* gray-500 */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #F3F4F6; /* gray-300 */
  }
  